In [1]:
import streamlit as st
import yfinance as yf
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import plotly.express as px

In [40]:
def getStockData(ticker, start_date, end_date):
    stock_data = yf.download(ticker, start_date, end_date)
    stock_data.reset_index(inplace=True)
    return stock_data

In [41]:
data = getStockData('AAPL', '2012-01-01', '2021-01-01')
data

[*********************100%%**********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume
0,2012-01-03,14.621429,14.732143,14.607143,14.686786,12.449688,302220800
1,2012-01-04,14.642857,14.810000,14.617143,14.765714,12.516598,260022000
2,2012-01-05,14.819643,14.948214,14.738214,14.929643,12.655555,271269600
3,2012-01-06,14.991786,15.098214,14.972143,15.085714,12.787853,318292800
4,2012-01-09,15.196429,15.276786,15.048214,15.061786,12.767569,394024400
...,...,...,...,...,...,...,...
2260,2020-12-24,131.320007,133.460007,131.100006,131.970001,129.679718,54930100
2261,2020-12-28,133.990005,137.339996,133.509995,136.690002,134.317810,124486200
2262,2020-12-29,138.050003,138.789993,134.339996,134.869995,132.529388,121047300
2263,2020-12-30,135.580002,135.990005,133.399994,133.720001,131.399384,96452100
2264,2020-12-31,134.080002,134.740005,131.720001,132.690002,130.387222,99116600

In [30]:
data['Date'] = data.index
data['Date'] = data['Date'].astype(np.int64) // 10**9

In [31]:
X = data[['Date']]
y = data['Close']

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [33]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [36]:
data['Predicted_Close'] = model.predict(X)
data.loc[X_train.index, 'Predicted_Close_Train'] = model.predict(X_train)
data.loc[X_test.index, 'Predicted_Close_Test'] = model.predict(X_test)
data

,Date,Open,High,Low,Close,Adj Close,Volume,Predicted_Close,Predicted_Close_Train,Predicted_Close_Test
0,0,14.621429,14.732143,14.607143,14.686786,12.449688,302220800,38.827376,38.827376,NaN
1,0,14.642857,14.810000,14.617143,14.765714,12.516598,260022000,38.827376,38.827376,NaN
2,0,14.819643,14.948214,14.738214,14.929643,12.655555,271269600,38.827376,38.827376,NaN
3,0,14.991786,15.098214,14.972143,15.085714,12.787853,318292800,38.827376,38.827376,NaN
4,0,15.196429,15.276786,15.048214,15.061786,12.767569,394024400,38.827376,38.827376,NaN
...,...,...,...,...,...,...,...,...,...,...
2260,0,131.320007,133.460007,131.100006,131.970001,129.679718,54930100,38.827376,NaN,38.827376
2261,0,133.990005,137.339996,133.509995,136.690002,134.317810,124486200,38.827376,38.827376,NaN
2262,0,138.050003,138.789993,134.339996,134.869995,132.529388,121047300,38.827376,NaN,38.827376
2263,0,135.580002,135.990005,133.399994,133.720001,131.399384,96452100,38.827376,NaN,38.827376
2264,0,134.080002,134.740005,131.720001,132.690002,130.387222,99116600,38.827376,38.827376,NaN

In [35]:
mse_train = mean_squared_error(y_train, data.loc[X_train.index, 'Predicted_Close_Train'])
mse_test = mean_squared_error(y_test, data.loc[X_test.index, 'Predicted_Close_Test'])
print(f"Train: {mse_train}, Test: {mse_test}")

Train: 592.4464995879358, Test: 617.447149414995